
/* 

	For coffee-shops list, cafe page, and stories pages

 */



 .CoffeeShops {

 }

	.CoffeeShops-filters {
 		margin-bottom: $size;
	}

 	.CoffeeShops-search {
 		width: 100%;
 		height: $size-4;
 	}