
.Header {

  position: relative;
  z-index: 1000;
  // give a lot more space to links
  max-width: $width-lg-min;
  padding-left: $size-2;
  padding-right: $size-2;
  padding-bottom: $size/2;

  // what's the nav look like when it's affixed to the top
  &.--top {
    background-color: usetheme(header-bg-top);
    padding-top: $size;
    @extend %ease;
  }

  // what's the nav look like when scrolling
  // &.--scroll {
  padding-top: $size/2;
  background-color: usetheme(header-bg-scroll);
  @extend %ease;
  // }


  &.--fixed {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .Header-content {
    @include screen-sm {
      // @include gridAutoCols(2);
    }
  }

  a {
    color: usetheme(header-links);
    // font-size: $size-larger;
    text-decoration: none;
    margin-right: $size;
    padding-top: $size/2;
    padding-bottom: $size/2;
    // white-space: nowrap;

    @include screen-xs {
      display: inline-block;
    }

    @include screen-sm {
      margin-left: $size;
      // font-size: usetheme(font-large), // $font-large;
      font-size: usetheme(nav-size); // $font-large;
    }
    &:hover {
      color: usetheme(header-active);
      text-decoration: underline;
    };
  }
  .nuxt-link-exact-active,
  .nuxt-link-active {
    // @extend %links-bg;
    @extend %font-bold;
    color: usetheme(header-active);
  }
  .Header-orgs.nuxt-link-active {
    // @extend %links-bg;
    @extend %font-bold;
    color: usetheme(header-active);
  }

  .Header-search {
    border: $border-thin solid usetheme(bg-lighter); //;$color-ui-light;
    border-radius: $radius;
    // max-width: 110px; // gives the links to the right more space
    min-width: 120px;
    // max-width: 400px;
    flex-basis: auto; /* default value */
    flex-grow: 1;

    @extend %ease;
    &:hover {
      border-color: usetheme(active); //$color-tertiary;
    }
    &:focus {
      border: $border-thin solid usetheme(active); //$color-tertiary;
      padding: $size-half $size-base;
      @extend %ease;
    }
  }


  // header link
  .Header-logo-link {
    &:after {
      content: none !important;
    }
  }

  .Header-title {
    @extend ._font-coffee;
    font-size: usetheme(size-title);
    line-height: usetheme(lineheight-title);
    color: usetheme(title-color);
    text-decoration: none !important;
  }
}

