

@import 'settings.scss';
@import 'design.scss';
@import 'layout'; // typography, basic design & whitespace


// modular
@import 'components';
@import 'sections';


.Header-title {
  // margin-right: $size-2;

  // &, * {
  //   // padding-bottom: $size-2;
  //   font-family: $font-display;
  //   // font-size: 2.2em;
  //   font-size: 32px;
  //   letter-spacing: 2px;
  //   line-height: 32px * 1;
  //   display: inline-block;
  //   vertical-align: middle;
  //   // color: white !important;
  //   // font-weight: 700;
  // }
}

$splash: 450px;
._splash-container {
  position: relative;
  // top: -175px;
  left: 0;
  width: 100%;
  height: $splash;
}
  ._splash-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-position: top;
    width: 100%;
    height: $splash;
  }
  .Coffee-splash {
    filter: grayscale(0.4) opacity(0.9) brightness(1.1);
    background-position-y: -18px; // offset the beam at the top of that image
  }







/* 

  Experiments

 */


// $testcolors: (
//   red: #BD5843,
//   blue: #8BADC2,
// );
// $colorMap: colorTintMap($testcolors);

.TestOne {
  color: black; font-weight: bold;
  background: map-get($colorMap, phdir-500);
  padding: 64px;
}

.Test {
  color: white; font-weight: bold;
  background: map-get($colorMap, phdir-300);
  padding: 64px;
}
.TestTwo {
  color: white; font-weight: bold;
  background: map-get($colorMap, pink-500);
  padding: 64px;
}

._table-em-first {
  // emphasize the first column as header
  td:first-child {
    @extend ._font-bold;
  } 
}


._flex-wrap-xs {
  @include screen-xs {
    flex-wrap: wrap;
  }
}

._width-full-xs {
  @include screen-xs {
    width: 100%;
  }
}



._wordbreak {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

._wordbreak-link { 
  // main difference is this does NOT create hypthens, in case someone copy/pastes

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

}




._hide {
  visibility: hidden;
  &-i {
    visibility: hidden !important;
  }
}
._visible {
  visibility: visible;
  &-i {
    visibility: visible !important;
  }
}

%masonry {
  & > * {
    display: inline-block;
  }
}
._masonry-2 {
  column-count: 2;
  column-gap: $size/2;
  @extend %masonry;
}
._masonry-3 {
  column-count: 3;
  column-gap: $size/2;
  @extend %masonry;
}
._masonry-4 {
  column-count: 4;
  column-gap: $size/2;
  @extend %masonry;
}

// used for medium-like full-width images
._image-stretch-bg {
  margin-top: $size*2;
  margin-bottom: $size*2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





